.page-header {
  background-color: transparent;
  padding: 0 5px;
  height: auto;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
  text-align: center;
  font-size: 21px;
  line-height: 28px;
}

