@import '~bootstrap/dist/css/bootstrap.css';

#type-content {
  padding: 0 10px;
  display: inline-block;
}

#type-images {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 70%;
  max-width: 800px;
  background: rgb(243, 243, 243);
  justify-content: space-between;
  overflow: hidden;
}

#type-images img {
  align-self: center;
  width: 49.5%;
  height: 100%;
}

/* Tabs */

/*.mat-tab-group {*/
/*  border-radius: 10px;*/
/*  border: 1px solid #9e9e9e;*/
/*}*/

.tab-content {
  padding: 10px;
}

.mat-ink-bar {
  background-color: #ff9800 !important;
}

.mat-ripple-element {
  background-color: #ff9800;
  opacity: 0.07;
}

.mat-form-field {
  width: 50px;
}

.mat-form-field mat-label {
  color: black;
}

.mat-form-field.mat-form-field-invalid mat-label {
  color: #f44336 !important;
}

.mat-form-field input {
  padding-left: 2px;
}

.mat-select-value {
  color: black;
  text-shadow: 1px 1px 4px white;
  font-weight: 500;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
  font-weight: 500;
}

.characteristic-form-field {
  width: 85%;
}

.characteristic-select-list {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.characteristic-select-list label {
  white-space: normal;
}

.characteristic-checkbox-input {
  margin-left: 5px;
  height: 25px;
}

.table {
  max-width: 500px;
}

tr td {
  vertical-align: middle !important;
}

tr span {
  padding: 0.8rem 1rem;
}

#accept-button {
  padding: 5px 7px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  background: rgb(55, 207, 88);
  color: #fff;
}
